*{
    margin: 0px;
    padding: 0px;
}

/* Header */

#header{
    padding: 0px;
    margin: 0px;
}

.gradient1{
    background-color: #F20505;
}
.gradient2{
    background: linear-gradient(#F20505, white);
    height: 65px;

}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 160px;
    width: 160px;
    margin: 20px 0px 20px 20px;
    box-shadow: 0px 5px 10px #000;
    border-radius: 100%;
}

.titulo{
    display: flex;
    align-items: center; 
}

.h1{
    font-size: 55px;
    margin: 20px 0px 20px 0px;
}

 /* Botones Header */
.contbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-danger{
    height: 60px;
    width: 120px;
    margin: 0px 10px 0px 20px;
    
}

.btn a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.posters{
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 100px;
}

.parrafo {
    font-size: 25px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 20px; 
}

.video {
    width: 100%; 
    max-width: 500px; 
    height: auto;
    display: block; 
    margin: 50px auto;
}

.titulos{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:50px 0 100px 0;
    font-size: 50px;
    text-decoration: underline;
}

.flip-card {
    background-color: transparent;
    width: 500px;
    height: 500px;
    perspective: 1000px; 
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: #265D73;
    color: white;
    transform: rotateY(180deg);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
  }














