*{
    margin: 0px;
    padding: 0px;
}

/* Header */

#header{
    padding: 0px;
    margin: 0px;
}

.gradient1{
    background: url(../Assets/imagenes/istockphoto-1479582112-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 160px;
    width: 160px;
    margin: 30px 0px 30px 20px;
    box-shadow: 0px 5px 10px #000;
    border-radius: 100%;
}

.titulo{
    display: flex;
    align-items: center; 
}

.titulo h1{
    font-size: 55px;
    margin: 20px 0px 20px 0px;
    color: white;
}

 /* Botones Header */

.contbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contbtn .btn-outline-light{
    height: 60px;
    width: 120px;
    margin: 0px 10px 0px 20px;
}

.btn a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.btn a:hover{
    color: black;
}

/* Un poco de cines */

.fondoT{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.info1{
    margin-top: 60px;
}

.titulo2{
    display: flex;
    justify-content: center;
    margin: 30px 0px 20px 0px;
}

.col-lg-4{
    display: flex;
    justify-content: center;
}

.col-lg-4 img{
    height: 180px;
    margin: 0px 40px 30px 0px;
    border-radius: 35px;
}

.col-lg-8{    
    display: flex;
    justify-content: center;
}

.col-lg-8 p{
    margin: 20px 40px 0px 80px;
    font-size: 20px;
    text-align: justify;
}

.borde{
    border: 5px solid;
    margin: 30px;
}

/*Linea*/

.linea{
    background-color: gray;
    border-radius: 5px;
    height: 8px;
    margin: 80px 100px 60px 100px
}

/* grilla1 */

#grid-contenedor1{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    'titulo imagen'
    'parrafo imagen';
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}   

.titulo1{
    grid-area: titulo;
    justify-self: end;
    font-size: 37px;
    margin-top: 10px;
}

.imagen1{
    grid-area: imagen;
}

.parrafo1{
    grid-area: parrafo;
    font-size: 25px;
    justify-self: end;
    text-align: end;
    margin-left: 100px;
}

.imagen1 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.imagen1 img:hover{
    transform: scale(1.1, 1.1);
    transition: 1s;
}

/* grid 2 */

#grid-contenedor2{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
    'imagen2 titulo2'
    'imagen2 parrafo2';
}

.imagen2{
    grid-area: imagen2;
    display: flex;
    justify-content: center;
}

.titulo2{
    grid-area: titulo2;
    font-size: 37px;
    justify-self: start;
}

.parrafo2{
    grid-area: parrafo2;
    font-size: 25px;
}

.parrafo2 p{
    margin-right: 80px; 
}

.imagen2 img{
    width: 300px;
    height: 300px;
    border-radius: 50%  ;
}

.imagen2 img:hover{
    transform: scale(1.1, 1.1);
    transition: 1s;
}

/* grilla 3 */

#grid-contenedor3{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    'titulo3 imagen3'
    'parrafo3 imagen3';
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}   

.titulo3{
    grid-area: titulo3;
    font-size: 37px;
    justify-self: end;
}

.imagen3{
    grid-area: imagen3;
}

.parrafo3{
    grid-area: parrafo3;
    font-size: 25px;
    justify-self: end;
    text-align: end;
}

.parrafo3 p{
    margin-left: 60px;
}

.imagen3 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.imagen3 img:hover{
    transform: scale(1.1, 1.1);
    transition: 1s;
}

/* grilla4 */

#grid-contenedor4{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    'imagen4 titulo4'
    'imagen4 parrafo4';
    grid-column-gap: 25px;
    margin-bottom: 90px;
}

.imagen4{
    grid-area: imagen4;
    justify-self: end;
}

.imagen4 img{
    width: 330px;
    height: 330px;
    border-radius: 50%;
}

.imagen4 img:hover{
    transform: scale(1.1, 1.1);
    transition: 1s;
}

.titulo4{
    grid-area: titulo4;
    font-size: 37px;
    margin-top: 10px;
}

.parrafo4{
    grid-area: parrafo4;
    font-size: 25px;
    margin-right: 80px; 
}

/*Footer */
#padre2{
    display: flex;
    flex-direction: row;
    background-color: #d61f1f;
    align-items: center;
}

.hijos{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 50px 40px 50px;
    border: 5px solid black;
}

.hijos img{
    height: 70px;
    width: 70px;
    margin: 0px 16px 0px 16px;
}

.hijos h2{
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.Copyright{
    background-color:#d61f1f;
    text-align: center;
    height: 50px;
}

.Copyright p{
    font-size: 25px;
}

.hijobtn .btn-outline-light{
    height: 45px;
    margin: 0px 20px 10px 20px;
}

.gradientfot{
    height: 30px;
    background: linear-gradient(white,#d61f1f );
}

/* Responsive */

@media screen and (max-width: 400px){

    .titulo{
        justify-content: center;
    }

    .contbtn .btn-outline-light{
        margin: 10px 10px 40px 20px;
    }

    .col-lg-8 p{
        margin: 0px 20px 20px 20px;
    }

    .col-lg-4 img{
        height: 120px;
        margin: 0px 0px 20px 0px;
    }

    #padre2{
        flex-direction: column;
    }

    .hijos{
        width: 80%;
    }

    .hijos img{
        height: 50px;
        width: 50px;
        margin: 5px;
    }

    #grid-contenedor4{
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.14fr 1fr 1fr;
        grid-template-areas: 
        'titulo4'
        'parrafo4'
        'imagen4';
        grid-column-gap: 0px;
        margin-bottom: 0px;
    }

    .imagen4{
        justify-self: center;
    }

    .titulo4{
        display: flex;
        justify-content: center;
    }
    .parrafo4{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-right: 0px;
        margin: 0px 30px 0px 30px;
    }

    
    #grid-contenedor3{
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.14fr 1fr 1fr;
        grid-template-areas: 
        'titulo3'
        'parrafo3'
        'imagen3';
        grid-column-gap: 0px;

    }

    .imagen3{
        display: flex;
        justify-content: center;
    }

    .titulo3{
        display: flex;
        justify-content: center;
    }
    .parrafo3{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-right: 0px;
        margin: 0px 30px 0px 30px;
    }

    .parrafo3 p{
        margin-left: 0px;
    }
    .titulo3{
        justify-self: center;
    }

    #grid-contenedor2{
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.14fr 1fr 1fr;
        grid-template-areas: 
        'titulo2'
        'parrafo2'
        'imagen2';
        grid-column-gap: 0px;

    }

    .imagen2{
        display: flex;
        justify-content: center;
    }

    .titulo2{
        display: flex;
        justify-content: center;
    }

    .parrafo2{
        display: flex;
        justify-content: center;
        text-align: center;
        justify-self: center;
        margin-right: 0px;
        margin: 0px 30px 0px 30px;
    }
    
    .parrafo2 p{
        margin-right: 0px;
    }

    .titulo2{
        justify-self: center;
    }

    #grid-contenedor1{
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.14fr 1fr 1fr;
        grid-template-areas: 
        'titulo'
        'parrafo'
        'imagen';
        grid-column-gap: 0px;

    }

    .imagen1{
        display: flex;
        justify-content: center;
    }

    .titulo1{
        display: flex;
        justify-content: center;
    }
    .parrafo1{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-right: 0px;
        justify-self: center;
        margin-left: 0px;
        margin: 0px 30px 0px 30px
    }
    .titulo1{
        justify-self: center;
    }
}